<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <center><title>Guess Page</title></center>
</head>
<body>
    <center> <h1>Μάντεψε έναν αριθμό από το 0 μέχρι το 128!</h1>
    <form action="/" method="post">
        <label for="guess">Ο αριθμός σου :</label>
        <input type="text" id="guess" name="guess">
        <input type="submit" value="Submit"></center>
    </form>
    <p> {{ message }}</p>
</body>
</html>